ul,
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
body{
  background-image: url('./images/addressbook.svg'), url('./images/mailbook.svg');
  background-position: 0 0, 75px 75px;
  background-repeat: round, round;
  background-size: 150px, 150px;
}
.App {
  
  
}

.App_title{
  padding: 30px;

  text-align: center;
  font-size: 45px;
  color: #ffffff;
  background-color: #414141;
}

.App_content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
